section {
  padding: 10px;
  width: 90%;
  margin: auto;
  margin-top: 5%;
  line-height: 1.6;
  margin-bottom: 5%;
}
ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
li {
  font-weight: bold;
  margin-right: 12px;
  color: #6a6f73;
  width: fit-content;
}

.li {
  font-weight: bold;
  margin-right: 12px;
  color: #6a6f73;
  width: fit-content;
}

li:hover {
  color: purple;
  cursor: pointer;
}
.outer-box {
  border: 1px solid #6a6f73;
  margin-top: 15px;
  padding: 20px;
  box-shadow: 10px 10px 10px 0 #ddd;
}
.rate {
  font-weight: bold;
  color: goldenrod;
  font-size: 20px;
}
section i {
  color: goldenrod;
}

.h5,
h5 {
  font-size: 1rem;
}
.courses {
  width: fit-content;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 10px;
}
.course {
  width: 240px;
  margin-bottom: 15px;
  margin-right: 15px;
  cursor: pointer;
  transition: 1s;
}
.course:hover {
  transform: scale(1.05);
  z-index: 1;
}
.explore-button {
  margin-top: 10px;
  margin-left: 10px;
}
.course-image {
  width: 240px;
  height: 135px;
}
.selected {
  color: black;
}
.selected:hover {
  color: black;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  height: 100%;
  font-size: 12px;
  background: #fff;
}
.swiper p {
  margin: 0;
  font-weight: 30;
}
.swiper i {
  font-size: 10px;
}
.swiper .rate {
  font-size: 16px;
  font-weight: 400;
}
.swiper .price {
  font-size: 16px;
}
.swiper-button-next,
.swiper-button-prev {
  top: 20% !important;
  color: white !important;
  border-radius: 50% !important;
  background-color: black !important;
  width: 40px !important;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px !important;
}
.swiper-button-next {
  right: 0px !important;
}
.swiper-button-prev {
  left: 0px !important;
}
